.equipmentPage {
    background: #eff9ff;

    h1 {
        font-family: 'Euclid Circular A', sans-serif;
        font-size: 2.5em;
        font-weight: bold; 
        letter-spacing: 2px;
        color: #333;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center; 
        padding: 20px;
    }
    
    p {
        font-size: 1em;
        margin-bottom: 20px;
        margin: 20px;
    }
    
    h2 {
        font-size: 1.5em;
        color: #333;
        margin: 20px 20px 0px 20px;
        background-color: hsl(30, 88%, 80%);
        border-radius: 8px 8px 0 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px

    }
}