ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 3.5rem;
    margin: 1rem;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    z-index: 200; /* High enough to appear above other content */
}

.nav__logo {
    color: #FFAA33;
    transition: color 0.4s;
    font-size: 1.25rem;
    font-family: "Dancing Script", cursive;
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: #FFCC66;
    cursor: pointer;
}


.nav__login:hover {
    background-color: #FF9900;
    box-shadow: 0 4px #CC7000, 0 6px 15px rgba(0, 0, 0, 0.1);
}

.nav__link {
    color: #938d8d;
    font-weight: 600;
    transition: color 0.4s;
    text-decoration: none;
}

.nav__link:hover {
    color: #FFAA33;
}

.nav__login {
    background-color: #FF8800;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0.75rem 1.5rem;
    box-shadow: 0 4px #CC7000;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

@media screen and (min-width: 1000px) {
    .nav {
        height: 4.5rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 70px;
        flex-grow: 1;
    }

    .menu li {
        display: inline-block;
        color: #999;
        transition: all 0.3s ease-in-out;
        padding: 0 1rem;
    }

    .menu li:hover > .submenu {
        height: 85px;
    }

    .menu > li:hover > a {
        color: #000;
    }

    .menu > li:hover > a:before {
        visibility: visible;
        scale: 1 1;
    }

    .submenu {
        overflow: hidden;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        background-color: #FFAA33;
        height: 0;
        line-height: 40px;
        box-sizing: border-box;
        transition: height 0.3s ease-in-out;
    }

    .menu li .submenu a {
        color: #FFFFFF;
        opacity: 0;
        transition: opacity 0.25s;
    }

    .menu > li:hover .submenu a {
        opacity: 1;
        transition: opacity 0.25s, box-shadow 0.3s;
    }

    .menu > li .submenu a:hover {
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu > li .submenu > li {
        margin: 0 10px;
    }

    .menu > li a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 7px;
        text-decoration: none;
        position: relative;
        height: 100%;
        transition: 0.3s;
    }

    .menu > li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 3px;
        left: 0;
        background-color: var(--color-primary);
        transition: all 0.2s ease-in-out;
        scale: 0 0;
        visibility: hidden;
    }

    .nav__login {
        padding: 0.75rem 1.5rem;
        min-width: 80px; 
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 6%, 0.2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 0rem 3rem 0;
        transition: right 0.4s;
        overflow-y: auto;
    }

    .nav__menu.show-menu {
        right: 0;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .nav__item {
        padding: 1rem 0;
    }

    .dropdown .submenu {
        display: none;
        flex-direction: column;
        background-color: #FFAA33;
        position: relative;
        z-index: 1;
        padding: 1rem 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        max-height: none;
    }

    .dropdown:hover .submenu {
        display: flex;
    }

    .submenu a {
        color: #FFFFFF;
        padding: 1rem;
        text-align: center;
        transition: background-color 0.25s, transform 0.3s;
    }

    .submenu a:hover {
        background-color: #FF8800;
        transform: translateY(-2px); 
    }

    .menu li .submenu a {
        color: #FFFFFF;
        opacity: 1;
        transition: background-color 0.25s, transform 0.3s;
    }

    .menu li:hover .submenu a {
        opacity: 1;
    }

    .menu li .submenu a:hover {
        background: rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    .menu li .submenu > li {
        margin: 0;
    }

    .menu > li a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 1.5rem;
        text-decoration: none;
        position: relative;
        height: 100%;
        transition: 0.3s;
    }

    .menu > li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 3px;
        left: 0;
        background-color: var(--color-primary);
        transition: all 0.2s ease-in-out;
        scale: 0 0;
        visibility: hidden;
    }
}
